body {
  margin: 0;
  padding: 0;
  background: #262626;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  width: 100vw;
  height: 100vh;
  background-color: #262626;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.wave-svg {
  width: 80vw;
  height: auto;
  overflow: visible;
}

.animate-button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  background: white;
  color: #262626;
}
