body {
  margin: 0;
  padding: 0;
  background: #262626;
  overflow-x: hidden;
}

.app {
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

#root {
  overflow-x: hidden;
  width: 100%;
}