.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 1000;
  background-color: #262626;
  display: flex;
  justify-content: space-between; /* space between left and right sections */
  align-items: center;
}

.nav-home {
  padding: 0 4em;
}

.nav-home a {
  color: #ffffff;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  transition: color 0.3s ease;
}

.nav-home a:hover {
  color: #f1c40f;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0 4em;
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #f1c40f;
}